<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Basuri Automotive</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    style="
      margin: 0;
      font-family: 'Poppins', sans-serif;
      background: #eeeeee;
      font-size: 12px;
    "
  >
    <div
      style="
        max-width: 680px;
        margin: 0 auto;
        padding: 40px 35px 60px;
        background: #eeeeee;
        background-image: url('https://basuriautomotive.com/_next/image/?url=%2F_next%2Fstatic%2Fmedia%2Fhome_page_assest_one.5af9103e.webp&w=1920&q=75');
        background-repeat: no-repeat;
        background-size: 800px 452px;
        background-position: top center;
        font-size: 12px;
        color: #434343;
      "
    >
      <header>
        <table style="width: 100%">
          <tbody>
            <tr style="height: 0; text-align: center;">
                <td style="text-align: center; vertical-align: middle;">
                  <img
                    alt=""
                    src="https://basuriautomotive.com/_next/image/?url=%2F_next%2Fstatic%2Fmedia%2Flogo_white.977120f8.png&w=3840&q=75"
                    height="30px"
                    style="display: block; margin: 0 auto;"
                  />
                </td>
              </tr>
          </tbody>
        </table>
      </header>

      <main>
        <div
          style="
            margin: 0;
            margin-top: 50px;
            padding: 50px 15px 60px;
            background: #ffffff;
            border-radius: 30px;
            text-align: center;
          "
        >
          <div style="width: 100%; max-width: 489px; margin: 0 auto">
            <h1
              style="
                margin: 0;
                font-size: 24px;
                font-weight: 500;
                color: #1f1f1f;
              "
            >
              {{headline}}
            </h1>
            <p
              style="
                margin: 0;
                margin-top: 17px;
                font-size: 16px;
                font-weight: 500;
              "
            >
              Hey {{ user.profile.first_name }},
            </p>
            <p
              style="
                margin: 0;
                margin-top: 17px;
                font-weight: 500;
                letter-spacing: 0.56px;
              "
            >

            {% if headline == "Reset Password OTP" %}
              To reset your Basuri Automotive account password, please use the One-Time Password (OTP) below to verify your request:
            {% endif %}
            {% if headline == "Register OTP" %}
              Thank you for registering with Basuri Automotive! To complete your
              registration, please verify your email address using the One-Time
              Password (OTP) below:
            {% endif %}
            
            </p>
            <p
              style="
                margin: 0;
                margin-top: 30px;
                font-size: 40px;
                font-weight: 600;
                letter-spacing: 6px;
                color: #FBB900;
              "
            >
              {{otp}}
            </p>
            <p
              style="
                margin: 0;
                margin-top: 17px;
                font-weight: 500;
                letter-spacing: 0.56px;
              "
            >
              This OTP is valid for the next
              <span style="font-weight: 600; color: #1f1f1f">15 minutes.</span>
              If you didn’t initiate this request, please ignore this email.</br></br>
              We’re excited to have you on board!
            </p>
          </div>
        </div>

        <p
          style="
            max-width: 400px;
            margin: 0 auto;
            margin-top: 90px;
            text-align: center;
            font-weight: 500;
            color: #8c8c8c;
          "
        >
          Need help? Ask at
          <a
            href="mailto:info@basuriautomotive.com"
            style="color: #000000; text-decoration: none"
            >info@basuriautomotive.com</a
          >
          or visit our
          <a
            href="https://basuriautomotive.com/support/"
            target="_blank"
            style="color: #000000; text-decoration: none"
            >Help Center</a
          >
        </p>
      </main>

      <footer
        style="
          width: 100%;
          max-width: 490px;
          margin: 20px auto 0;
          text-align: center;
          border-top: 1px solid #e6ebf1;
        "
      >
        <p
          style="
            margin: 0;
            margin-top: 40px;
            font-size: 16px;
            font-weight: 600;
            color: #434343;
          "
        >
          Basuri Automotive
        </p>
        <p style="margin: 0; margin-top: 8px; color: #434343">
          basuriautomotive.com
        </p>
        <div style="margin: 0; margin-top: 16px">
          <a href="https://www.facebook.com/BASURIAUTOMOTIVE" target="_blank" style="display: inline-block">
            <img
              width="36px"
              alt="Facebook"
              src="http://193.203.164.88/media/social_media/facebook.png"
            />
          </a>
          <a
            href="https://www.linkedin.com/company/basuri-automotive1993/"
            target="_blank"
            style="display: inline-block; margin-left: 8px"
          >
            <img
              width="36px"
              alt="Pinterest"
              src="http://193.203.164.88/media/social_media/pinterest.png"
          /></a>
          <a
            href="https://www.instagram.com/basuriairhorn/"
            target="_blank"
            style="display: inline-block; margin-left: 8px"
          >
            <img
              width="36px"
              alt="Twitter"
              src="http://193.203.164.88/media/social_media/instagram.png"
            />
          </a>
          <a
            href="https://youtube.com/@basuriautomotive9354"
            target="_blank"
            style="display: inline-block; margin-left: 8px"
          >
            <img
              width="36px"
              alt="Youtube"
              src="http://193.203.164.88/media/social_media/youtube.png"
          /></a>
        </div>
        <p style="margin: 0; margin-top: 16px; color: #434343">
          
        </p>
      </footer>
    </div>
  </body>
</html>
